<head>
	<title><%= @config["basic"]["name"] %> | Resume</title>

	<link rel="stylesheet" type="text/css" href="css/resume.css">
	<link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<header class="main row">
				<div class="header">
					<div class="col-md-6 col-sm-12">
						<h1><%= @config["basic"]["name"] %></h1>
						<h3><%= @config["basic"]["designation"] %></h3>
					</div>
					<div class="col-md-6 col-sm-12">
						<img class="photo img-responsive img-circle pull-right"
						src="img/profile.jpg">
					</div>
				</div>

				<div class="">
					<div class="col-md-6 col-sm-12">
						<dl class="contacts dl-horizontal">

							<dt>Phone:</dt>
							<dd><%= @config["basic"]["phone"] %></dd>

							<dt>Email:</dt>
							<dd>
								<a href="mailto:<%= @config["basic"]["email"] %>">
									<%= @config["basic"]["email"] %>
								</a>
							</dd>

							<dt>Website:</dt>
							<dd>
								<a href="<%= @config["basic"]["website"] %>">
									<%= @config["basic"]["website"] %>
								</a>
							</dd>

						</dl>
					</div>

					<div class="col-md-6 col-sm-12">
						<ul class="networks list-unstyled text-right">

							<li>
								<a href="https://twitter.com/<%= @config["online_handles"]["twitter"] %>">
									twitter/<%= @config["online_handles"]["twitter"] %>
								</a>
							</li>

							<li>
								<a href="https://github.com/<%= @config["online_handles"]["github"] %>">
									github/<%= @config["online_handles"]["github"] %>
								</a>
							</li>

							<li>
								<a href="https://www.linkedin.com/in/<%= @config["online_handles"]["linkedin"] %>">
									linkedin/in/<%= @config["online_handles"]["linkedin"] %>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</header>
		</li></h>
	</header>
</div>
